body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #D8BFD8; /* viola chiaro */
  color: #1D1D1D;
}

h1 {
  color: #0DA8BB;
  font-size: 2.5em;
  margin-bottom: 10px;
}

p#status {
  color: #FF5E54;
  margin-top: 10px;
  font-size: 1.2em;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 95%;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #DDD;
  padding: 8px 12px;
}

th {
  background-color: #FFB300;
  color: #FFFFFF;
  transition: background-color 0.3s ease;
}

th:hover {
  background-color: #FF8C42;
  cursor: pointer;
}

tr:nth-child(even) td {
  background-color: #F0F0F0; /* grigetto chiaro */
}
